<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/4aac1b864c.js"
	crossorigin="anonymous"></script>

<style type="text/css">
/* td, th, tr, thead { */
/* 	border: solid 2px black; */
/* } */

/* a { */
/* 	text-decoration: none; */
/* 	color: white */
/* } */
</style>



<title>Funcionarios</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #4169E1;">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav"
					style="margin: auto; font-size: 22px; color: white">
					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page" th:href="@{'/'}">
							<i class="fas fa-home"></i> INICIO
					</a></li>
					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page"
						th:href="@{'/consultaExames'}" style="color: white;"><i
							class="fas fa-user-check"> </i> EXAMES</a></li>


					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page"
						th:href="@{'/consultaFuncionarios'}" style="color: white;"><i
							class="fas fa-user-check"> </i> FUNCIONARIOS</a></li>


					<li class="nav-item" style="padding: 10px"><a
						class="nav-link active" aria-current="page"
						th:href="@{'/consultaExameRealizados'}" style="color: white;"><i
							class="fas fa-user-check"> </i> EXAMES REALIZADOS</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div
		style="width: 50%; margin: auto; font-size: 13px; margin-top: 80px;">
		<a th:href="@{'/novoFuncionario'}" class="btn btn-primary"
			style="color: white; font-size: 15px; margin-bottom: 5px">CADASTRAR</a>

		<table class="table table-hover">
			<thead style="background-color: #4169E1; color: white;">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NOME</th>
					<th scope="col">AÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="funcionario: ${consultaFuncionarios}">
					<td th:text="${funcionario.id}"></td>
					<td th:text="${funcionario.nome}"></td>
					<td>
						<button type="button" class="btn btn-info" style="margin: 10px">
							<i class="fas fa-info-circle"></i>
						</button> </a> <a th:href="@{'/atualizarFunc/' + ${funcionario.id}}">
							<button type="button" class="btn btn-warning"
								style="margin: 10px">
								<i class="fas fa-edit"> </i>
							</button>
					</a>
						<button type="button" class="btn btn-danger btn-sm"
							style="margin: 10px; font-size: 20px" data-toggle="modal"
							th:attr="data-target='#remover_'+${funcionario.id}">
							<i class="fas fa-trash"></i>
						</button>
						<div class="modal fade" th:id="remover_+${funcionario.id}" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">


											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Deseja excluir o funcionario?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Não</button>
										<a type="button" class="btn btn-primary"
											th:href="@{'/apagarFunc/' + ${funcionario.id}}">Sim</a>
									</div>
								</div>
							</div>
						</div>
					</td>





				</tr>
			</tbody>
		</table>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>



</body>
</body>
</html>